@using BlazorApp1.Client.Components
@inherits LayoutComponentBase

<MudThemeProvider />
@*<MudPopoverProvider />
<MudDialogProvider />
<MudSnackbarProvider /> *@

<div style="display: flex; gap: 1rem;">
    <MudNavMenu>
        <MudNavLink Href="/" Match="NavLinkMatch.All">Home</MudNavLink>
        <MudNavLink Href="/weather">Weather</MudNavLink>
        <MudNavLink Href="/interactive-server">Interactive server</MudNavLink>
        <MudNavLink Href="/interactive-wasm">Interactive WebAssembly</MudNavLink>
        <MudNavLink Href="/saai">Saaie</MudNavLink>
        <MudNavLink Href="/circuitprobleem">Circuitprobleem</MudNavLink>

        <LoginDisplay />
    </MudNavMenu>

    <main>@Body</main>
</div>
